.container{
    text-align: center;
    font: 200 3em/1 "Oswald", sans-serif;
    letter-spacing: -2;
  	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
      text-shadow: 0 0 80px rgba(255,255,255,.5);
     
}
.input{
    width:28%;
    border: 2px solid purple;
    border-radius:20px ;
    border-width: 4px;
}

    